<div class="padded">
  <label class="padded">Write 6 Blog Posts</label>
  <div class="container">
      <div class="padded static container">
          <label>Progress: </label>
        </div>
        <div class="padded container">
          <span class="fraction">0/6</span>
          <span class="load-box">
            <span class="load-fill-box"></span>
          </span>  
        </div>
        <div class="stat-label no-mobile container">
          <span class="success-rate">0%</span>
        </div>
  </div>
  
</div>