<div>
  <label class="padded">3 Coding Sessions a week:</label>
  <div class="container">
      <div class="padded container">
          <label>Git Commits:</label>
        </div>
        <div class="padded container">
            <div class="toggle-box"></div>
            <div class="toggle-box"></div>
            <div class="toggle-box"></div>
            <div class="toggle-box"></div>
            <div class="toggle-box"></div>
            <div class="toggle-box"></div>
            <div class="toggle-box"></div>
        </div>
  </div>
</div>