<div class="padded">
  <label class="padded"></label>
  <div class="container">
      <div class="padded static container">
          <label></label>
        </div>
        <div class="padded container">
            <div class="toggle-box">m</div>
            <div class="toggle-box">t</div>
            <div class="toggle-box">w</div>
            <div class="toggle-box">t</div>
            <div class="toggle-box">f</div>
            <div class="toggle-box">s</div>
            <div class="toggle-box">s</div>        
        </div>
        <div class="stat-label no-mobile container">
          <div class="success-rate"></div>
        </div>
  </div>
  
</div>