<div class="padded glow-border">
    <div class="padded">
        <label class="padded"></label>
        <div class="container">
            <div class="padded static container">
                <label>Loading...</label>
            </div>
            <div class="padded container">
                <div class="toggle-box"></div> 
            </div>
            <div class="stat-label no-mobile container">
                <div class="success-rate">0%</div>
            </div>
        </div>
    </div>
  </div>