@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

body {
  background-color: hsl(220, 30%, 15%);
  font-family: courier;
  color: hsl(80, 70%, 50%);
  font-size: 200%
}

.cursor {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(120, end);
  letter-spacing: .10em;
}

.cursor::after {
  overflow: hidden;
  opacity: 1;
  content: "█";
  animation: blink 0.75s linear infinite;
}
