<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>William Bratches</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/crt.css">
  </head>
  <body class="flicker">
    <div class="soft-font">
      <div>
        <div class="cursor">2019 Resolution Stats!</div>
        <hr>
        <div class="container padded">
          <div class="no-mobile box flex-vertical padded">
            <div id="utc"></div>
            <div id="epoch"></div>
          </div>
          <div class="box baseline padded">
            <span id="countdown">
              365
            </span>
            <span class="sub-label">
              Days Left
            </span>
          </div>
        </div>
      </div>

      <div class="blue padded cursor">$WORK</div>
      <div class="week-tracker" key="coding" sublabel="Git this week:" toplabel="3 Code sessions/week"></div>
      <div class="bar-counter" key="opensource" sublabel="Progress:" toplabel="3 Open-source tools"></div>
      <div class="bar-counter" key="internal" sublabel="Progress:" toplabel="2 Internal tools"></div>
      <div class="single-toggle-box" key="revenue" sublabel="Done:" toplabel="Create a project w/revenue"></div>

      <div class="blue padded cursor">$SELF</div>
      <div class="week-tracker" key="meditation" sublabel="This week:" toplabel="3 Meditations/week"></div>
      <div class="bar-counter" key="salad" sublabel="Progress:" toplabel="Eat 200 Salads"></div>
      <div class="week-tracker" key="earlybird" sublabel="This week:" toplabel="Attempt waking up at 6:15AM"></div>
      <div class="week-tracker" key="hair" sublabel="Grooming:" toplabel="Slick hair back thrice/week (lol)"></div>

      <div class="blue padded cursor">$PROMOTION</div>
      <div class="bar-counter" key="blog" sublabel="Progress:" toplabel="Write 6 Blog Posts"></div>
      <div class="bar-counter" key="talks" sublabel="Progress:" toplabel="Give 3 public talks"></div>
      <div class="bar-counter" key="people" sublabel="Progress:" toplabel="Get lunch with two new friends."></div>
      <div class="bar-counter" key="twitter" sublabel="Progress:" toplabel="Get 50 Twitter followers"></div>

      <div class="blue padded cursor">$MUSIC</div>
      <div class="single-toggle-box" key="perform" sublabel="Done:" toplabel="Perform live"></div>
      <div class="bar-counter" key="tracks" sublabel="Progress:" toplabel="Create 2 new tracks"></div>
    
      <div class="blue padded cursor">$FITNESS</div>
      <div class="single-toggle-box" key="deadlift" sublabel="Done:" toplabel="Deadlift 250lbs"></div>
      <div class="single-toggle-box" key="curl" sublabel="Done:" toplabel="Curl 35lbs 3x10"></div>
      <div class="single-toggle-box" key="press" sublabel="Done:" toplabel="Standing press 40lbs 3x10"></div>
      <div class="single-toggle-box" key="squat" sublabel="Done:" toplabel="Squat 130lbs 3x8"></div>
      <div class="single-toggle-box" key="pushup" sublabel="Done:" toplabel="100 Pushups in a row"></div>
      <div class="single-toggle-box" key="situp" sublabel="Done:" toplabel="100 Situps in a row"></div>
      <div class="single-toggle-box" key="run" sublabel="Done:" toplabel="15 Mile run"></div>
    </body>
    <script type='module' src='newyear.js'></script>
    <script type='module' src='./weekTracker/weekTracker.js'></script>
    <script type='module' src='./barCounter/barCounter.js'></script>
    <script type='module' src='./toggleBox/toggleBox.js'></script>
    <canvas width=400 height=300></canvas>
  </div>
</html>
