<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>William Bratches</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/crt.css">
  </head>
  <body class="crt">
    <div class="cursor">My secret stats-tracking page!</div>
    <hr>
    <div class="container">
      <div class="box glow-border flex-vertical">
        <div id="utc"></div>
        <div id="epoch"></div>
      </div>
      <div class="box glow-border baseline">
        <span id="countdown">
          365
        </span>
        <span class="sub-label">
          Days Left
        </span>
      </div>
    </div>

    <div class="glow-border">
      <div class="week-tracker">
        
      </div>
    </div>
  </body>
  <script type='module' src='newyear.js'></script>
  <script type='module' src='./weekTracker/weekTracker.js'></script>
</html>
