<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>William Bratches</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/crt.css">
  </head>
  <body class="crt">
    <div class="cursor">2019 Resolution Stats!</div>
    <hr>
    <div class="container padded">
      <div class="no-mobile box flex-vertical padded">
        <div id="utc"></div>
        <div id="epoch"></div>
      </div>
      <div class="box baseline padded">
        <span id="countdown">
          365
        </span>
        <span class="sub-label">
          Days Left
        </span>
      </div>
    </div>

    <div class="glow-border">
      <div class="week-tracker" key="coding" sublabel="Git this week:" toplabel="3 Code sessions per week"></div>
    </div>
    <div class="glow-border">
      <div class="bar-counter" key="blog" sublabel="Progress:" toplabel="Write 6 Blog Posts"></div>
    </div>
    <div class="glow-border">
      <div class="single-toggle-box" key="blog" sublabel="Done:" toplabel="Test test"></div>
    </div>
  </body>
  <script type='module' src='newyear.js'></script>
  <script type='module' src='./weekTracker/weekTracker.js'></script>
  <script type='module' src='./barCounter/barCounter.js'></script>
  <script type='module' src='./toggleBox/toggleBox.js'></script>
</html>
