@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

body {
  background-color: hsl(220, 30%, 15%);
  font-family: "Courier New";
  color: hsl(80, 70%, 50%);
  font-size: 3em;
}

input {
  background-color: hsl(220, 30%, 15%);
  border: 6px solid hsl(80, 70%, 50%);
  box-shadow: 2px 2px 20px 1px hsl(80, 100%, 73%);
  font-size: 2em;
  color: hsl(80, 70%, 50%);
  text-shadow: 2px 2px 20px greenyellow;
}

a {
  color: rgb(121, 255, 121);
}

hr {
  border-width: 0.1rem;
  border-color: hsl(80, 70%, 50%);
  box-shadow: 2px 2px 8px 1px hsl(80, 100%, 73%);
}

.soft-font {
  font-size: 0.8em;
  color: hsl(80, 50%, 52%);
}

.inverse {
  background-color: hsl(80, 70%, 50%);
  text-shadow: black;
  color: hsl(220, 30%, 15%);
  animation: none;
}
.inverse:after {
  text-shadow: black;
  animation: none;
}

.blue {
  color: hsl(184, 91%, 64%);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.sub-label {
  font-size: 1em;
}

.baseline {
  align-items: baseline;
}

.box {
  display: flex;
  flex: 1;
  justify-content: center;
}

.glow-border {
  border: 0.02em solid hsl(80, 70%, 50%); 
  box-shadow: 1px 1px 5px 1px hsl(80, 100%, 73%);
}

.cursor {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(120, end);
  letter-spacing: .10em;
}

.cursor::after {
  overflow: hidden;
  opacity: 1;
  content: "█";
  animation: blink 0.75s linear infinite;
}

.flex-vertical {
  flex-direction: column;
  align-items: center;
}
.toggle-box {
  text-align: center;
  font-size: 0.35em;
  margin: 10px;
  width: 25px;
  height: 25px;
  border: 3px solid hsl(80, 70%, 50%);
  box-shadow: 2px 2px 10px 1px hsl(80, 100%, 73%);
}

.toggle-box.active {
  color: grey;
  background-color: hsl(80, 70%, 50%);
}

.padded {
  padding: 20px;
}

.week-label {
  width: 8em;
}

.stat-label {
  display: flex;
  margin-right: 30px;
  font-size: 2em;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.static {
  width: 9em;
}

.load-box {
  background-color: hsl(220, 30%, 15%);
  position: relative;
  font-size: 0.35em;
  margin: 10px;
  width: 240px;
  height: 25px;
  border: 3px solid hsl(80, 70%, 50%);
  box-shadow: 2px 2px 10px 1px hsl(80, 70%, 50%);
}

.load-fill-box {
  position: absolute;
  color: grey;
  height: 100%;
  width: 0px;
  background-color: hsl(80, 70%, 50%);
}

#utc {
  text-align: center;
  font-size: 2rem;
}

#countdown {
  font-size: 3em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  .no-mobile {
    display: none;
  }
}
